<% content_for :page_title, 'Volmer Soares' %>
<% content_for :page_description, 'Passionate developer. Music lover.' %>
<% content_for :page_keywords, 'Volmer Soares, Volmerius, Radicaos, Ruby, Rails, Bootsy' %>

<div id="home">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-8">
      <h1>
        Volmer Soares
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'volmer.jpg', class: 'img-thumbnail' %>
    </div>

    <div class="col-sm-8">
      <p class="lead">
        Passionate developer. Music lover.
      </p>

      <ul>
        <%= link_li 'icon-github', 'GitHub', 'http://github.com/volmer' %>
        <%= link_li 'icon-book', 'Blog', 'http://blog.volmerius.com' %>
        <%= link_li 'icon-play-circle', 'Soundcloud', 'http://soundcloud.com/volmer' %>
        <%= link_li 'icon-twitter', 'Twitter', 'http://twitter.com/volmerius' %>
        <%= link_li 'icon-linkedin-sign', 'Linkedin', 'http://www.linkedin.com/in/volmerius' %>
        <%= link_li 'icon-lightbulb', 'Rubygems', 'http://rubygems.org/profiles/volmer' %>
      </ul>
    </div>
  </div>
</div>
