<div class="row">
  <div class="span6 offset3">
    <section id="presentation">
      <%= volmer_avatar %>
    </section>
  </div>
</div>

<div id="links">
  <div class="row">
    <div class="span4">
      <section>
        <h1>Technology</h1>
        <ul class="nav nav-list">
          <%= link_li 'icon-github', 'GitHub', 'https://github.com/volmer' %>
          <%= link_li 'icon-lightbulb', 'Rubygems', 'https://rubygems.org/profiles/volmer' %>
        </ul>
      </section>
    </div>

    <div class="span4">
      <section>
        <h1>Music</h1>
        <ul class="nav nav-list">
          <%= link_li 'icon-bolt', 'Radicaos', 'http://radicaos.com' %>
          <%= link_li 'icon-play-circle', 'Soundcloud', 'https://soundcloud.com/volmer' %>
        </ul>
      </section>
    </div>

    <div class="span4">
      <section>
        <h1>Projects</h1>
        <ul class="nav nav-list">
          <%= link_li 'icon-edit', 'Bootsy', 'http://volmer.github.io/bootsy' %>
          <%= link_li 'icon-group', 'Raddar', 'https://github.com/volmer/raddar' %>
        </ul>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <section>
        <h1>Social</h1>
        <ul class="nav nav-list">
          <%= link_li 'icon-twitter', 'Twitter', 'https://twitter.com/volmerius' %>
          <%= link_li 'icon-github', 'GitHub', 'https://github.com/volmer' %>
        </ul>
      </section>
    </div>

    <div class="span4">
      <section>
        <h1>Professional</h1>
        <ul class="nav nav-list">
          <%= link_li 'icon-linkedin-sign', 'Linkedin', 'http://www.linkedin.com/in/volmerius' %>
          <%= link_li 'icon-github', 'GitHub', 'https://github.com/volmer' %>
        </ul>
      </section>
    </div>

    <div class="span4">
      <section>
        <h1>Pandora's box</h1>
        <ul class="nav nav-list">
          <%= link_li 'icon-group', 'Mundo das Trevas', 'http://mundodastrevas.com' %>
          <%= link_li 'icon-laptop', 'Codeschool', 'http://www.codeschool.com/users/volmer' %>
        </ul>
      </section>
    </div>
  </div>
</div>