<nav class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Tecnologia</li>
    <li><%= link_to 'Github', 'https://github.com/volmer', target: '_blank' %></li>
    <li><%= link_to 'Rubygems', 'https://rubygems.org/profiles/volmer', target: '_blank' %></li>
    <li class="nav-header">Música</li>
    <li><%= link_to 'Radicaos', 'http://radicaos.com', target: '_blank' %></li>
    <li class="nav-header">Projetos</li>
    <li><%= link_to 'Bootsy', 'http://volmer.github.io/bootsy', target: '_blank' %></li>
    <li><%= link_to 'Raddar', 'https://github.com/volmer/raddar', target: '_blank' %></li>
    <li class="nav-header">Social</li>
    <li><%= link_to 'Twitter', 'https://twitter.com/volmerius', target: '_blank' %></li>
    <li><%= link_to 'Github', 'https://github.com/volmer', target: '_blank' %></li>
    <li class="nav-header">Profissional</li>
    <li><%= link_to 'Linkedin', 'http://www.linkedin.com/in/volmerius', target: '_blank' %></li>
    <li class="divider"></li>
    <li class="nav-header">Caixa de Pandora</li>
    <li><%= link_to 'Mundo das Trevas', 'http://mundodastrevas.com', target: '_blank' %></li>
    <li><%= link_to 'Codeschool', 'http://www.codeschool.com/users/volmer', target: '_blank' %></li>
  </ul>
</nav>