<!DOCTYPE html>
<html>
  <head>
    <title>Volmerius</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="wrap">
      <div class="container" id="main_container">
        <div id="layout_top"><%= render 'layouts/top' %></div>

        <div class="row">
          <div class="span3"><%= render 'layouts/sidebar' %></div>

          <div class="span9" id="page_content"><%= yield %></div>
        </div>
      </div>
      <div id="push"></div>
    </div>

    <footer>
      <div class="container"><%= render 'layouts/footer' %></div>
    </footer>
  </body>
</html>
