<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <%= [content_for(:page_title), 'Volmerius'].reject(&:blank?).join(' · ') %>
    </title>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>

    <%= render 'layouts/head' %>

    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="content-wrapper">
      <%= render 'layouts/navbar' %>

      <%= render 'layouts/top' %>

      <div class='container' id='main-container'>
        <%= render 'layouts/alerts' %>

        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
